:root {
  --crsl-height: 400px;
  --crsl-width: 600px;
}

* {
  box-sizing: border-box;
}

/* Carousel Defaults */
.crsl {
  height: var(--crsl-height);
  width: var(--crsl-width);
  position: relative;
  overflow: hidden;
  position: relative;
}

/* Images Container Defaults */
.crsl__images {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.crsl__image {
  scroll-snap-align: start;
  /* height: 400px;
  width: 600px; */
}

.crsl__image img {
  height: 400px;
  width: 600px;
  object-fit: scale-down;
}
